{
  "extends": [
    "standard",
    "plugin:@typescript-eslint/recommended",
    "prettier",
    "plugin:import/typescript"
  ],
  "plugins": [
    "standard",
    "@typescript-eslint",
    "prettier"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "overrides": [
    {
      "files": ["**/*.ts", "**/*.tsx"]
    }
  ],
  "rules": {
    "no-var": "error",
    // optional, recommended when using es6+
    "no-unused-vars": "off",
    // recommended
    "no-unused-expressions": "off",
    "arrow-spacing": [
      "error",
      {
        "before": true,
        "after": true
      }
    ],
    // recommended
    "comma-dangle": [
      "error",
      {
        "objects": "only-multiline",
        "arrays": "only-multiline",
        "imports": "only-multiline",
        "exports": "only-multiline",
        "functions": "only-multiline"
      }
    ],
    // options to emulate prettier setup
    "semi": [
      "error",
      "always"
    ],
    "max-len": "off",
    "template-curly-spacing": [
      "error",
      "never"
    ],
    "arrow-parens": [
      "error",
      "as-needed"
    ],
    "indent": "off",
    // Enable prettier errors
    "prettier/prettier": "error",
    // standard.js
    "space-before-function-paren": [
      "error",
      {
        "named": "never",
        "anonymous": "always",
        "asyncArrow": "always"
      }
    ],
    // standard plugin - options
    "standard/object-curly-even-spacing": [
      "error",
      "either"
    ],
    "standard/array-bracket-even-spacing": [
      "error",
      "either"
    ],
    "standard/computed-property-even-spacing": [
      "error",
      "even"
    ],
    "standard/no-callback-literal": [
      "error",
      [
        "cb",
        "callback"
      ]
    ],
    // Typescript
    "@typescript-eslint/no-empty-function": "off",
    "@typescript-eslint/no-unused-vars": "error",
    "@typescript-eslint/ban-types": 0
  },
  "settings": {
    "import/parsers": {
      "@typescript-eslint/parser": [
        ".ts"
      ]
    }
  }
}